favorites=firefox-esr.desktop,thunar.desktop,xfce4-terminal.desktop,mousepad.desktop,xfce4-taskmanager.desktop
recent=
button-title=Nanite
button-icon=distributor-logo
button-single-row=false
show-button-title=true
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
launcher-show-tooltip=true
launcher-icon-size=2
hover-switch-category=true
category-hover-activate=true
category-show-name=true
category-icon-size=1
sort-categories=true
view-mode=0
default-category=0
recent-items-max=10
favorites-in-recent=true
position-search-alternate=true
position-commands-alternate=true
position-categories-alternate=false
position-categories-horizontal=false
stay-on-focus-out=false
profile-shape=0
confirm-session-command=true
menu-width=450
menu-height=500
menu-opacity=95
command-settings=xfce4-settings-manager
command-lockscreen=xflock4
command-switchuser=dm-tool switch-to-greeter
command-logoutuser=xfce4-session-logout --logout --fast
command-restart=xfce4-session-logout --reboot --fast
command-shutdown=xfce4-session-logout --halt --fast
command-suspend=xfce4-session-logout --suspend
command-hibernate=xfce4-session-logout --hibernate
command-logout=xfce4-session-logout
command-menueditor=menulibre
command-profile=mugshot
search-actions=6 